/* Styling utama */
*
{
    margin: 0;
    padding: 0;
}



.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid white;
}

.logo{
    width: 100px;
    height: auto;
    float: left;
    margin-left: 40px;
}

body{
    font-family: Verdana, Geneva, sans-serif;
}

.row{
    max-width: 1366px;
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
}

.prologue{
    position: absolute;
    color: black;
    width: 1366px;
    text-align: center;
    margin-top: 200px;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
}

.front-button{
    margin-top: 30px;
    margin-left: 0px;
}

.front-button-obj{
    font-size: 20px;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-style: bold;
    color: black;
}
