@font-face {
   font-family: 'Kollektif';
   font-display: swap;
   src: url('file:///C:/Users/LENOVO/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-10_190658/fonts/Kollektif/font.ttf');
}
