@font-face {
   font-family: 'Kollektif';
   font-display: swap;
   src: url('Kollektif/font.ttf');
}
@font-face {
   font-family: 'Helvetica85Heavy_22449';
   font-display: swap;
   src: url('Helvetica85Heavy_22449/font.ttf');
}
