@font-face {
   font-family: 'Helvetica85Heavy_22449';
   font-display: swap;
   src: url('file:///C:/Users/LENOVO/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-10_190658/fonts/Helvetica85Heavy_22449/font.ttf');
}
